.committee-content > .section-title {
    padding-bottom: 2rem;
}

.committee-content > committee-content-heading {
    font-size: 2rem;
}


.committee-content > ul > li {
    font-size: 1.1rem;
}



.committee-content > ul > li > span {
    /*    font-weight: bold;*/
}

/*
.committee-content > ul > li > span {
    font-weight: bold;
}*/
