.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    width: 100%;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a:hover .dropdown-content {
    cursor: pointer;
}

.sticky-wrapper .site-navbar ul li a {
    color: black !important;
}

.sticky-wrapper .site-navbar {

    background-color: #f1f1f1 !important;
}

.site-navbar .site-navigation .site-menu > li > a {
    color: black !important;
}

.sticky-wrapper .site-navbar ul li a.active {
    color: black !important;
}

.site-section {
    padding-bottom: 0;
}

.site-footer {
    padding-top: 3em;
}
