.page {
margin: 20px;
}
.interactions {
text-align: center;
}
.deleteLogo{
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}
.searchBtn{
background-color: indigo;
color: white;
text-decoration: none;
}
.searchBtn:hover{
    color: white;
}