.single-book{
  background-color: red;
}
.crop {
  overflow: hidden;
}
.main-nav{
  background-color: #004085;
}
.cart-style{
  font-size: 2rem;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
